<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ferret.cash // OBS Settings</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
   <br>
  <h1>OBS Settings Panel</h1>
  <hr>

   <div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/user">
        <button style="padding: 0 10px 0;">User Settings</button>
      </form>
      <form method="GET" action="/userobs">
        <button style="padding: 0 10px; margin-right: 10px; display: inline-block;">OBS Settings</button>
      </form>
      <form method="GET" action="/viewdonos">
        <button style="padding: 0 10px 0;">View Donations</button>
      </form>
      {{ if eq .Username "admin" }}
      <form method="GET" action="/usermanager">
        <button style="padding: 0 10px 0;">Admin Dash</button>
      </form>
      {{ end }}
  </div>

  <br><br>
  <form method="POST" action="/userobs" enctype="multipart/form-data">
    <label for="dono-animation">Dono Animation (GIF):</label>
    <input type="file" id="dono-animation" name="dono_animation" accept=".gif">
    {{if .FilenameGIF}}
      <span><small>Current dono GIF: <i>{{.FilenameGIF}}</i></small></span>
    {{end}}
    <br><br>
    <label for="dono-sound">Dono Sound (MP3):</label>
    <input type="file" id="dono-sound" name="dono_sound" accept=".mp3">
    {{if .FilenameMP3}}
      <span><small>Current dono MP3: <i>{{.FilenameMP3}}</i></small></span>
    {{end}}
    <br><br>    
    <label for="message"> Dono Bar Message:</label>
    <input type="text" id="message" name="message" value="{{.Message}}">
    <br><br>
    <label for="needed">Donation USD Goal:</label>
    <input type="number" step="1.00" id="needed" name="needed" value="{{.Needed}}">
    <br><br>
    <label for="sent">Amount Currently Sent:</label>
    <input type="number" id="sent" name="sent" value="{{.Sent}}">
    <br><br>

    <label for="obs-url">OBS Donation Display URL:</label>

    <input type="text" id="obs-url" onclick="copyURLDisplay()" name="obs_url" value="{{.URLdisplay}}" readonly>
    <br><br>
    <label for="dono-goal-url">OBS Dono Bar URL:</label>
  <input type="text" id="dono-goal-url" onclick="copyURLDonobar()" name="dono_goal_url" value="{{.URLdonobar}}" readonly>
    <br><br>

    <input type="submit" value="Save">


  </form>
</body>

<script>
function copyURLDisplay() {
  var obsUrlDisplay = document.getElementById("obs-url");
  obsUrlDisplay.select();
  document.execCommand("copy");
}

function copyURLDonobar() {
  var donoGoalUrl = document.getElementById("dono-goal-url");
  donoGoalUrl.select();
  document.execCommand("copy");
}

</script>
</html>
