<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OBS Settings</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
   <br><br><br>
  <h1>OBS Settings Panel</h1>
  <hr>

   <div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/viewdonos">
        <button style="margin: 0 10px 0 0;">View Donations</button>
      </form>
      <form method="GET" action="/user">
        <button>User Settings</button>
      </form>
  </div>

  <br><br>
  <form method="POST" action="/userobs">
    <label for="dono-animation">Dono Animation (GIF):</label>
    <input type="file" id="dono-animation" name="dono_animation" accept=".gif">
    {{if .FilenameGIF}}
      <span><small>Current dono GIF: <i>{{.FilenameGIF}}</i></small></span>
    {{end}}
    <br><br>
    <label for="dono-sound">Dono Sound (MP3):</label>
    <input type="file" id="dono-sound" name="dono_sound" accept=".mp3">
    {{if .FilenameMP3}}
      <span><small>Current dono MP3: <i>{{.FilenameMP3}}</i></small></span>
    {{end}}
    <br><br> 
    <label for="message"> Dono Bar Message:</label>
    <input type="text" id="message" name="message" value="{{.Message}}">
    <br><br>
    <label for="needed">Donation USD Goal:</label>
    <input type="number" step="1.00" id="needed" name="needed" value="{{.Needed}}">
    <br><br>
    <label for="sent">Amount Currently Sent:</label>
    <input type="number" id="sent" name="sent" value="{{.Sent}}">
    <br><br>

    <label for="obs-url">OBS Donation Display URL:</label>
    <input type="text" id="obs-url" name="obs_url" value="{{.URLdisplay}}" disabled>
    <br><br>
    <label for="dono-goal-url">OBS Dono Bar URL:</label>
    <input type="text" id="dono-goal-url" name="dono_goal_url" value="{{.URLdonobar}}" disabled>
    <br><br>

    <input type="submit" value="Save">


  </form>
</body>
</html>
