<!DOCTYPE html>
<html>
<head>
    <title>ferret.cash</title>
    <link href=fcash.png rel=icon>
    <link href="style.css" rel="stylesheet">
</head>
<body>
     <br><br><br>
  <h1>Crypto Settings Panel</h1>
  <hr>

   <div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/viewdonos">
        <button style="padding: 0 10px 0;">View Donations</button>
      </form>
      <form method="GET" action="/user">
        <button style="padding: 0 10px 0;">User Settings</button>
      </form>
      {{ if eq .Username "admin" }}
      <form method="GET" action="/usermanager">
        <button style="padding: 0 10px 0;">Admin Dash</button>
      </form>
      {{ end }}
  </div>
<div class="content">
    <h3>Select which cryptos to accept:</h3>
    <table>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="monero" style="width: auto;" {{ if .CryptosEnabled.XMR }}checked{{ end }}>
                    <label for="monero">Monero</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="solana" style="width: auto;" {{ if .CryptosEnabled.SOL }}checked{{ end }}>
                    <label for="solana">Solana</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="ethereum" style="width: auto;" {{ if .CryptosEnabled.ETH }}checked{{ end }}>
                    <label for="ethereum">Ethereum</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="paint" style="width: auto;" {{ if .CryptosEnabled.PAINT }}checked{{ end }}>
                    <label for="paint">Paint</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="hex" style="width: auto;" {{ if .CryptosEnabled.HEX }}checked{{ end }}>
                    <label for="hex">Hexcoin</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="matic" style="width: auto;" {{ if .CryptosEnabled.MATIC }}checked{{ end }}>
                    <label for="matic">Polygon</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="busd" style="width: auto;" {{ if .CryptosEnabled.BUSD }}checked{{ end }}>
                    <label for="busd">Binance USD</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="shiba_inu" style="width: auto;" {{ if .CryptosEnabled.SHIB }}checked{{ end }}>
                    <label for="shiba_inu">Shiba Inu</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="pnk" style="width: auto;" {{ if .CryptosEnabled.PNK }}checked{{ end }}>
                    <label for="pnk">Kleros</label>
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" id="user_id" value="{{ .UserID }}">
    <button onclick="updateSelection()">Update</button>
</div>
<footer>
    <small><small>
        <p>Ferret Cash &copy; 2023. Developed by <a href="http://www.paul.town/" target="_blank">Paul Town</a> with <a href="https://github.com/pautown/paulpay" target="_blank">PayPaul Source Code</a></p>
    </small></small>
</footer>
<script>
    function updateSelection() {
        const userId = document.getElementById('user_id').value;

        const checkboxIds = [
            'monero',
            'solana',
            'ethereum',
            'paint',
            'hex',
            'matic',
            'busd',
            'shiba_inu',
            'pnk'
        ];

        const selectedCryptos = checkboxIds.reduce((cryptos, id) => {
            cryptos[id] = document.getElementById(id).checked;
            return cryptos;
        }, {});

        console.log('User ID:', userId);
        console.log('Selected Cryptos:', selectedCryptos);

        sendSelectedCryptos(userId, selectedCryptos);
    }


async function sendSelectedCryptos(userId, selectedCryptos) {
    const response = await fetch('/updatecryptos', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId, selectedCryptos })
    });

    if (response.ok) {
        console.log('Cryptos updated successfully');
    } else {
        console.error('Error updating cryptos:', response.statusText);
        const responseBody = await response.text();
        console.error('Server error message:', responseBody);
    }
}


</script>
</body>
</html>

