<!DOCTYPE html>
<html>
<head>
    <title>ferret.cash</title>
    <link href=fcash.png rel=icon>
    <link href="style.css" rel="stylesheet">
</head>
<body>
     <br>
  <h1>Crypto Settings Panel</h1>
  <hr>

   <div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/user">
        <button style="padding: 0 10px 0;">User Settings</button>
      </form>
      <form method="GET" action="/userobs">
        <button style="padding: 0 10px; margin-right: 10px; display: inline-block;">OBS Settings</button>
      </form>
      <form method="GET" action="/viewdonos">
        <button style="padding: 0 10px 0;">View Donations</button>
      </form>
      {{ if eq .Username "admin" }}
      <form method="GET" action="/usermanager">
        <button style="padding: 0 10px 0;">Admin Dash</button>
      </form>
      {{ end }}
  </div>
<div class="content">

    <br>
    <b style="color: lightsteelblue;">Accepted Cryptos:</b>
    <table>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="monero" style="width: auto;" {{ if .CryptosEnabled.XMR }}checked{{ end }} {{ if not .WalletUploaded }}disabled{{ end }}>
                    <label for="monero">Monero</label>

                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="solana" style="width: auto;" {{ if .CryptosEnabled.SOL }}checked{{ end }}>
                    <label for="solana">Solana</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="ethereum" style="width: auto;" {{ if .CryptosEnabled.ETH }}checked{{ end }}>
                    <label for="ethereum">Ethereum</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="paint" style="width: auto;" {{ if .CryptosEnabled.PAINT }}checked{{ end }}>
                    <label for="paint">Paint</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="hex" style="width: auto;" {{ if .CryptosEnabled.HEX }}checked{{ end }}>
                    <label for="hex">Hexcoin</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="matic" style="width: auto;" {{ if .CryptosEnabled.MATIC }}checked{{ end }}>
                    <label for="matic">Polygon</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="busd" style="width: auto;" {{ if .CryptosEnabled.BUSD }}checked{{ end }}>
                    <label for="busd">Binance USD</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="shiba_inu" style="width: auto;" {{ if .CryptosEnabled.SHIB }}checked{{ end }}>
                    <label for="shiba_inu">Shiba Inu</label>
                </div>
            </td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" id="pnk" style="width: auto;" {{ if .CryptosEnabled.PNK }}checked{{ end }}>
                    <label for="pnk">Kleros</label>
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" id="user_id" value="{{ .UserID }}">
    <button onclick="updateSelection()">Update</button>

    <br>
    <br>

    <form method="POST" action="/changeuser">
    <label for="ethereumAddress"><b style="color: lightsteelblue;">Ethereum Address:</b></label>
    <input type="text" id="ethereumAddress" name="ethereumAddress" placeholder="{{.EthAddress}}" value="{{.EthAddress}}">
    <br>
    <label for="solanaAddress"><b style="color: lightsteelblue;">Solana Address:</b></label>
    <input type="text" id="solanaAddress" name="solanaAddress" placeholder="{{.SolAddress}}" value="{{.SolAddress}}">

    <br>
    <br>

    <submit><b style="color: lightsteelblue;">Minimum Donation Amount (USD)</b></submit>
    <submit><input type="number" id="minUsdAmount" name="minUsdAmount" min="1"  value="{{.MinDono}}"></submit>
    <br>
    <br>

    <input type="submit" value="Update User Info" id="update-profile">

  </form>
    <hr>
      <form method="POST" action="/changeusermonero"enctype="multipart/form-data">
  <label for="moneroWallet"><b style="color: lightsteelblue;">View-Only Monero Wallet:</b></label>
  <input type="file" id="moneroWallet" name="moneroWallet">
  <label for="moneroWallet"><b style="color: lightsteelblue;">View-Only Monero Wallet Keys:</b></label>
  <input type="file" id="moneroWalletKeys" name="moneroWalletKeys" accept=".keys">
  <small><small>Note: It will take a few minutes after uploading for the XMR wallet to work. The wallet needs to catch up with the network.</small></small>
  
  <br>
    <br>
  <input type="submit" value="Upload Monero Wallets" id="update-profile">
  <hr>
  <br> 
  
  <p id="media-status">Media donations are currently {{ if .MediaEnabled }}enabled{{ else }}<b>disabled</b>{{ end }}</p>

   
  <button type="button" id="toggle-media-donos" onclick="toggleDonos()">Turn Media Donations  {{ if .MediaEnabled }}OFF{{ else }} ON{{ end }}</button>
  </form>

</div>
<footer>
    <small><small>
        <p>Ferret Cash &copy; 2023. Developed by <a href="http://www.paul.town/" target="_blank">Paul Town</a> with <a href="https://github.com/pautown/paulpay" target="_blank">PayPaul Source Code</a></p>
    </small></small>
</footer>
<script>
    function updateSelection() {
        const userId = document.getElementById('user_id').value;

        const checkboxIds = [
            'monero',
            'solana',
            'ethereum',
            'paint',
            'hex',
            'matic',
            'busd',
            'shiba_inu',
            'pnk'
        ];

        const selectedCryptos = checkboxIds.reduce((cryptos, id) => {
            cryptos[id] = document.getElementById(id).checked;
            return cryptos;
        }, {});

        console.log('User ID:', userId);
        console.log('Selected Cryptos:', selectedCryptos);

        sendSelectedCryptos(userId, selectedCryptos);
    }


async function sendSelectedCryptos(userId, selectedCryptos) {
    const response = await fetch('/updatecryptos', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId, selectedCryptos })
    });

    if (response.ok) {
        console.log('Cryptos updated successfully');
    } else {
        console.error('Error updating cryptos:', response.statusText);
        const responseBody = await response.text();
        console.error('Server error message:', responseBody);
    }
}


</script>
</body>
</html>

