<html>
<head>
    <title>ferret.cash</title>
    <link href=style.css rel=stylesheet>
    <link href=fcash.png rel=icon>
   

    <script>
      // Define an object to map cryptocurrency codes to their names and minimum values
      var cryptoMap = {
        "monero": {
          "name": "Monero",
          "code": "XMR",
          "svg": "xmr.svg",
          "min": "{{.MinMonero}}",
          "price": "{{.XMRPrice}}"
        },
        "solana": {
          "name": "Solana",
          "code": "SOL",
          "svg": "sol.svg",
          "min": "{{.MinSolana}}",
          "price": "{{.SolPrice}}"
        },
        "ethereum": {
          "name": "Ethereum",
          "code": "ETH",
          "svg": "eth.svg",
          "min": "{{.MinEthereum}}",
          "price": "{{.ETHPrice}}"
        },
        "paint": {
          "name": "Paint",
          "code": "PAINT",
          "svg": "paint.svg",
          "min": "{{.MinPaint}}",
          "price": "{{.PaintPrice}}"
        },
        "hex": {
          "name": "Hexcoin",
          "code": "HEX",
          "svg": "hex.svg",
          "min": "{{.MinHex}}",
          "price": "{{.HexPrice}}"
        },
        "matic": {
          "name": "Polygon",
          "code": "MATIC",
          "svg": "matic.svg",
          "min": "{{.MinPolygon}}",
          "price": "{{.PolygonPrice}}"
        },
        "busd": {
          "name": "Binance USD",
          "code": "BUSD",
          "svg": "busd.svg",
          "min": "{{.MinBusd}}",
          "price": "{{.BusdPrice}}"
        },
        "shiba_inu": {
          "name": "Shiba Inu",
          "code": "SHIB",
          "svg": "shiba_inu.svg",
          "min": "{{.MinShib}}",
          "price": "{{.ShibPrice}}"
        },
        "pnk": {
          "name": "Kleros",
          "code": "PNK",
          "svg": "pnk.svg",
          "min": "{{.MinPnk}}",
          "price": "{{.PnkPrice}}"
        }
      };
      var crypto_selected
      var crypto_selected = "XMR";
      var selectedValue = crypto_selected;


        window.onload = function() {
          var linksData = JSON.parse('{{.Links}}');
          var linksDiv = document.getElementById("links");

          for (var i = 0; i < linksData.length; i++) {
            var link = linksData[i];
            var button = document.createElement("button");
            button.innerText = link.description;
            button.type = "button";
            button.onclick = (function(link) { // Create a closure by wrapping the onclick function inside another function
              return function() {
                window.open(link.url, '_blank');
              }
            })(link);
            linksDiv.appendChild(button);
          }

          const doubleButton = document.getElementById("doubleButton");
          doubleButton.textContent = `$${parseFloat({{.MinDono}}) * 3}`;

          const quadButton = document.getElementById("quadButton");
          quadButton.textContent = `$${parseFloat({{.MinDono}}) * 9}`;
          
          const eightButton = document.getElementById("eightButton");
          eightButton.textContent = `$${parseFloat({{.MinDono}}) * 27}`;


          const toggleSelect = document.getElementById('toggleSelect');
          const optionsCount = toggleSelect.options.length;
          
          if (optionsCount <= 2) {
            toggleSelect.classList.remove('visible');
            toggleSelect.classList.add('hidden');
          }

          const DefaultCrypto = {{.DefaultCrypto}};
          var valueToFind = "SOL"; // Replace "SOL" with the value you want to find

          if (DefaultCrypto == "XMR"  && {{.CryptosEnabled.XMR}}) {
            valueToFind = "XMR";
          } else if (DefaultCrypto == "SOL" && {{.CryptosEnabled.SOL}}) {
            valueToFind = "SOL";
          } else if (DefaultCrypto == "ETH" && {{.CryptosEnabled.ETH}}) {
            valueToFind = "ETH";
          } else if (DefaultCrypto == "PAINT" && {{.CryptosEnabled.PAINT}}) {
            valueToFind = "PAINT";
          } else if (DefaultCrypto == "HEX" && {{.CryptosEnabled.HEX}}) {
            valueToFind = "HEX";
          } else if (DefaultCrypto == "MATIC" && {{.CryptosEnabled.MATIC}}) {
            valueToFind = "MATIC";
          } else if (DefaultCrypto == "BUSD" && {{.CryptosEnabled.BUSD}}) {
            valueToFind = "BUSD";
          } else if (DefaultCrypto == "SHIB" && {{.CryptosEnabled.SHIB}}) {
            valueToFind = "SHIB";
          } else if (DefaultCrypto == "PNK" && {{.CryptosEnabled.PNK}}) {
            valueToFind = "PNK";
          } else {
              if ({{.CryptosEnabled.XMR}}) {
              valueToFind = "XMR";
            } else if ({{.CryptosEnabled.SOL}}) {
              valueToFind = "SOL";
            } else if ({{.CryptosEnabled.ETH}}) {
              valueToFind = "ETH";
            } else if ({{.CryptosEnabled.PAINT}}) {
              valueToFind = "PAINT";
            } else if ({{.CryptosEnabled.HEX}}) {
              valueToFind = "HEX";
            } else if ({{.CryptosEnabled.MATIC}}) {
              valueToFind = "MATIC";
            } else if ({{.CryptosEnabled.BUSD}}) {
              valueToFind = "BUSD";
            } else if ({{.CryptosEnabled.SHIB}}) {
              valueToFind = "SHIB";
            } else if ({{.CryptosEnabled.PNK}}) {
              valueToFind = "PNK";
            }
          }


          var selectElement = document.getElementById("toggleSelect");
          var valueToFind = "SOL"; // Replace "SOL" with the value you want to find

          for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === valueToFind) {
              selectElement.selectedIndex = i;
              break;
            }
          }


          toggleText();
          document.getElementById("toggleSelect").selectedIndex = 0;

        };

        var buttonText = "Switch Cryptocurrency";
        var crypto = "XMR"

        function validateUSDAmount() {
          const amountUSDInput = document.getElementById("amountUSD");
          const amountValue = parseFloat(amountUSDInput.value);

          const cryptoKeys = Object.keys(cryptoMap);
          const selectedCrypto = cryptoMap[cryptoKeys.find(key => cryptoMap[key].code === selectedValue)];
          
          const usdValueOfCrypto = parseFloat(selectedCrypto.min)/parseFloat({{.MinDono}});
          const minAmount = parseFloat(selectedCrypto.min);
          console.log(minAmount);

          const amountInput = document.getElementById("amount");
          amountInput.value = parseFloat(usdValueOfCrypto) * parseFloat(amountValue);

          validateAmount();
        }

        function multiplyDonation(factor) {
          const amountUSDInput = document.getElementById("amountUSD");
          amountUSDInput.value = (factor * parseFloat({{.MinDono}})).toString() + ".00";
          const cryptoKeys = Object.keys(cryptoMap);
          const selectedCrypto = cryptoMap[cryptoKeys.find(key => cryptoMap[key].code === selectedValue)];
          const usdValueOfCrypto = parseFloat(selectedCrypto.min)/parseFloat({{.MinDono}});
          const amountInput = document.getElementById("amount");
          amountInput.value = (factor * parseFloat(selectedCrypto.min)).toFixed(5);
        }


        function validateAmount() {
            const amountInput = document.getElementById("amount");
            const amountValue = parseFloat(amountInput.value);
            const minAmount = parseFloat(amountInput.min);
            const stepAmount = 0.00001;
            
            if (isNaN(amountValue))
            {

            }else if (amountValue < minAmount) {
                amountInput.value = minAmount.toFixed(5);
            } else {
                amountInput.value = (Math.round(amountValue / stepAmount) * stepAmount).toFixed(5);
            }

            const cryptoKeys = Object.keys(cryptoMap);
              const selectedCrypto = cryptoMap[cryptoKeys.find(key => cryptoMap[key].code === selectedValue)];
              

            const amountUSDInput = document.getElementById("amountUSD");
            amountUSDInput.value = (amountInput.value*parseFloat(selectedCrypto.price)).toFixed(2);
        }
      
        function toggleText() {
          var select = document.getElementById("toggleSelect");
          selectedValue = select.options[select.selectedIndex].value;

          var selectedCrypto = Object.values(cryptoMap).find(function(crypto) {
            return crypto.code === selectedValue;
          });

          var amountInput = document.getElementById("amount");
          if (selectedCrypto) {
            replaceText(selectedCrypto.name, selectedCrypto.name.toLowerCase(), selectedCrypto.code);
            imgSrc = `${selectedCrypto.svg}`;
            amountInput.setAttribute("placeholder", `${selectedCrypto.min} Minimum`);
            amountInput.setAttribute("min", selectedCrypto.min);
          }

          document.getElementById("crypto").value = selectedValue;
          select.options[select.selectedIndex].selectedIndex = 0;
          document.querySelector("#currencyIcon").setAttribute("src", imgSrc);
          document.querySelector("#currencyText").textContent = "Ferret " + selectedCrypto.code;
          amountInput.value = "";
          document.getElementById("toggleSelect").selectedIndex = 0;
        }


        function replaceText(newText, newTextLowercase, newTextCode) {          
          // Update the text content of the amount label
          var amountLabel = document.getElementById("amountLabel");
          amountLabel.textContent = `${newText} (${newTextCode}) Amount:`;

          // Update the text content of the header label
          var amountLabel = document.getElementById("paypaul-header");
          amountLabel.textContent = `ferret {{.Username}} ${newTextLowercase}.`;
        }

    </script>
</head>

<body>
  <form action="/pay" method="POST">
    <h2>
    <div id="paypaul-header">ferret {{.Username}} monero.</div>
    </h2>
    <hr>
      <div class="ticker-wrap">
        <div class="ticker">
          <div class="ticker__item"><span>XMR = ${{.XMRPrice}}</span></div>
          <div class="ticker__item"><span>ETH = ${{.ETHPrice}}</span></div>
          <div class="ticker__item"><span>SOL = ${{.SolPrice}}</span></div>
          <div class="ticker__item"><span>HEX = ${{.HexPrice}}</span></div>
          <div class="ticker__item"><span>PNK = ${{.PnkPrice}}</span></div>
          <div class="ticker__item"><span>PAINT = ${{.PaintPrice}}</span></div>
          <div class="ticker__item"><span>SHIB = ${{.ShibPrice}}</span></div>
          <div class="ticker__item"><span>MATIC = ${{.PolygonPrice}}</span></div>
          <div class="ticker__item"><span>BUSD = ${{.BusdPrice}}</span></div>
        </div>      
    </div>
    <br>
    
    <label for="name">Name:</label><br>
    <input id="name" maxlength="25" name="name" placeholder="Anonymous" type="text"><br><br>
    <label id="amountLabel" for="amount">Monero (XMR) Amount:</label><br>
    
    <div style="display: flex; align-items: center;">
      <input id="amount" min="{{.MinMonero}}" name="amount" placeholder="{{.MinMonero}} Minimum" step="0.00001" type="number" onblur="validateAmount()" onchange="validateAmount()">
      <small> ≈ $</small>    
      <input id="amountUSD" min={{.MinDono}} name="amountUSD" placeholder="{{.MinDono}}.00 Minimum" step="0.01" type="number" onblur="validateUSDAmount()" onchange="validateUSDAmount()">
    </div>

    <div style="display: flex; align-items: center;">  
      <button type="button" class="donate-button" onclick="multiplyDonation(1)">${{.MinDono}}</button>
      <button type="button" id="doubleButton" class="donate-button" onclick="multiplyDonation(3)"></button>
      <button type="button" id="quadButton" class="donate-button" onclick="multiplyDonation(9)"></button>
      <button type="button" id="eightButton" class="donate-button" onclick="multiplyDonation(27)"></button>
    </div><br>

    <label for="message">Message:</label><br>
    <textarea id="message" maxlength="{{.MaxChar}}" name="message" placeholder="{{.MaxChar}} Character Max" rows="6"></textarea><br><br>
    <label for="media">Media Link:</label><br>
  
    <input id="media" name="media" type="text" placeholder="YouTube Link (Optional)"><br><br>
    <input type="hidden" id="crypto" name="crypto" value="XMR">
    <input type="hidden" id="username" name="username" value="{{.Username}}">
    <input id="showAmount" name="showAmount" type="hidden" value="true" >

    
    <div style="display: flex; align-items: center;">
      <button id="submit" type="submit" data-original-text="Pay in Monero(XMR)" style="display: flex; align-items: center;">
        <img id="currencyIcon" src="xmr.svg" style="margin-right: 10px;">
        <span id="currencyText">Ferret XMR</span>
      </button>
      

        <select id="toggleSelect" onchange="toggleText()" onblur="this.selectedIndex=0;" class="visible">
       

        <option value="" disabled selected>Switch Cryptocurrency</option>
        {{ if .CryptosEnabled.XMR }}
        <option value="XMR">Switch to Monero</option>
        {{ end }}
        {{ if .CryptosEnabled.SOL }}
        <option value="SOL">Switch to Solana</option>
        {{ end }}
        {{ if .CryptosEnabled.ETH }}
        <option value="ETH">Switch to Ethereum</option>
        {{ end }}
        {{ if .CryptosEnabled.PAINT }}
        <option value="PAINT">Switch to Paint</option>
        {{ end }}
        {{ if .CryptosEnabled.HEX }}
        <option value="HEX">Switch to Hexcoin</option>
        {{ end }}
        {{ if .CryptosEnabled.MATIC }}
        <option value="MATIC">Switch to Polygon</option>
        {{ end }}
        {{ if .CryptosEnabled.BUSD }}
        <option value="BUSD">Switch to Binance USD</option>
        {{ end }}
        {{ if .CryptosEnabled.SHIB }}
        <option value="SHIB">Switch to Shiba Inu</option>
        {{ end }}
        {{ if .CryptosEnabled.PNK }}
        <option value="PNK">Switch to Kleros</option>
        {{ end }}
      </select>
    </div>       
  </form>
   


  <br><hr>
<small></small><div id="links"></div></small>  
 
    
  
  <footer>
        <small><small>
            <p>USD Price Data provided by <a href="https://www.coingecko.com/" target="_blank">CoinGecko</a><br>Ferret Cash &copy; 2023. Developed by <a href="http://www.paul.town/" target="_blank">Paul Town</a> with <a href="https://github.com/pautown/paulpay" target="_blank">PayPaul Source Code</a></p>
        </small></small>
    </footer>
</body>

</html>