<!DOCTYPE html>
<html>
<head>

  <script src="https://cdn.jsdelivr.net/npm/web3@1.3.6/dist/web3.min.js"></script>
  <script src="bignumber.js"></script>
   <title>ferret.cash</title>
        {{$ethtoken := false}}
        {{$erc20token := true}}
        {{if eq .Currency "SOL"}}
            {{$ethtoken = false}}
            {{$erc20token = false}}
        {{else if eq .Currency "XMR"}}
            {{$ethtoken = false}}
            {{$erc20token = false}}
        {{else if eq .Currency "ETH"}}
            {{$ethtoken = true}}
            {{$erc20token = false}}
        {{end}}
     <link href=fcash.png rel=icon>
    <link href=style.css rel=stylesheet>

   

</head>
<body>
    <h3>Send exactly <b>{{.Amount}}</b> {{.Currency}}:</h3>
<small>
    <p id="donation-status"><img src="loader.svg" class="loading-wheel" alt="Loading wheel"> Checking For Donation... </p>
</small>
<p style="color: green;" id="donation-completed"></p>

<label>Name:</label>
<blockquote>
    {{.Name}}
</blockquote>
<label>Message:</label>
<blockquote>
    {{.Message}}
</blockquote>

{{if ne .Media ""}}
    <label>Media:</label>
    <blockquote>
        {{.Media}}
    </blockquote>
{{end}}

<label>Payment Address:</label>
<blockquote style="user-select: all">
    {{.Address}}
</blockquote>
<p id="donation-metamask"></p>
<label>Or scan:</label>
<blockquote>
    <img src="data:image/png;base64,{{.QRB64}}"/>
</blockquote>
       
<small>Stay on this screen until transaction is seen.</small><br>
<footer>
    <small><small>
      <p>Ferret Cash &copy; 2023. Developed by <a href="http://www.paul.town/" target="_blank">Paul Town</a> with <a href="https://github.com/pautown/paulpay" target="_blank">PayPaul Source Code</a></p>
    </small></small>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var interval_id; // Declare interval_id in global scope
    const receiverAddress = "{{.Address}}";
    const tokenAmount = "{{.Amount}}";
    const tokenContractAddress = "{{.ContractAddress}}";

    $(document).ready(function() {
      console.log("Document is ready");
      var donation_id = "{{.DonationID}}";
      var status_indicator = $(".donation-status");
      updateDonationStatus(donation_id, status_indicator);
      interval_id = setInterval(function() { // Assign value to interval_id in global scope
        updateDonationStatus(donation_id, status_indicator);
      }, 5000);
        var ethtoken = {{$ethtoken}};
        var erc20token = {{$erc20token}};

        if (ethtoken === true) {
            addETHMetamaskButton();
        }
        else if (erc20token === true){
            addERC20MetamaskButton();
        }
        
      // Stop the interval when the status is complete
      if (status_indicator.hasClass("complete")) {
        clearInterval(interval_id);
      }
    });
    
   function addETHMetamaskButton() {
    document.querySelector("#donation-metamask").innerHTML = `<button id="submit" type="button" data-original-text="Pay ETH with Metamask" style="display: flex; align-items: center;">
    <span id="currencyText">Send with Metamask</span>
      </button>`;

      document.querySelector("#submit").addEventListener("click", function() {
            sendMetamaskEthereum();
        });

    }


    function addERC20MetamaskButton() {
        document.querySelector("#donation-metamask").innerHTML = `<button id="submit" type="button" data-original-text="Send with Metamask" style="display: flex; align-items: center;">
        <span id="currencyText">Send with Metamask</span>
      </button>`;

      document.querySelector("#submit").addEventListener("click", function() {
            sendToken();
        });

    }

    // Get the Ethereum-enabled status of the user's browser
    const ethEnabled = async () => {
      if (window.ethereum) {
        await window.ethereum.request({ method: 'eth_requestAccounts' });
        window.web3 = new Web3(window.ethereum);
        return true;
      }
      return false;
    }

    // Send Ethereum to a given address
    const sendMetamaskEthereum = async () => {
                  // Check if the user has enabled their Ethereum wallet
                  if (await ethEnabled()) {
                    // Get the user's Ethereum account address
                    const accounts = await window.web3.eth.getAccounts();
                    const from = accounts[0];

                    // Set the recipient address and the amount of Ethereum to send
                    const to =  receiverAddress;
                    const value = new BigNumber(window.web3.utils.toWei(tokenAmount.toString(), "ether"));
                    console.log(value.toString());

                    // Send the Ethereum transaction
                    window.web3.eth.sendTransaction({ from, to, value}, (err, transactionHash) => {
                      if (err) {
                        console.error(err);
                      } else {
                        console.log(transactionHash);
                      }
                    });
                  } else {
                    console.log("Please install Metamask to use this feature.");
      }
    }


          
    const sendToken = async () => {
      // Check if the user has enabled their Ethereum wallet
      if (await ethEnabled()) {
        // Get the user's Ethereum account address
        const accounts = await window.web3.eth.getAccounts();
        const from = accounts[0];




        // Get the token contract instance
        const contract = new window.web3.eth.Contract([{
          "inputs": [],
          "name": "decimals",
          "outputs": [{"internalType": "uint8","name": "","type": "uint8"}],
          "stateMutability": "view",
          "type": "function"
        },{
          "inputs": [{"internalType": "address","name": "","type": "address"}],
          "name": "balanceOf",
          "outputs": [{"internalType": "uint256","name": "","type": "uint256"}],
          "stateMutability": "view",
          "type": "function"
        },{
          "inputs": [{"internalType": "address","name": "","type": "address"},{"internalType": "uint256","name": "","type": "uint256"}],
          "name": "transfer",
          "outputs": [{"internalType": "bool","name": "","type": "bool"}],
          "stateMutability": "nonpayable",
          "type": "function"
        }], tokenContractAddress);



        // Get the decimals of the token
        const decimals = await contract.methods.decimals().call();
        console.log(decimals);

        const number = new BigNumber(tokenAmount.toString())
        multipliedNumber = number.times('1e'+decimals.toString())

        web3.eth.getGasPrice()
            .then(gasPrice => {
                contract
                    .methods
                    .transfer(receiverAddress, multipliedNumber)
                    .estimateGas({from})
                    .then(estimatedGas=>{
                        const txPriceWei = estimatedGas * gasPrice;
                        const txPriceEth = web3.utils.fromWei(txPriceWei.toString(), 'ether');
                        const txPriceUSD = txPriceEth * 1800;
                        console.log({
                            estimatedGas, txPriceWei, txPriceEth, txPriceUSD
                        });
                    })
                ;
            })
        ;

        // Send the token transaction
        contract.methods.transfer(receiverAddress, multipliedNumber).send({ from }, (err, transactionHash) => {
          if (err) {
            console.error(err);
          } else {
            console.log(transactionHash);
          }
        });
      } else {
        console.log("Please install Metamask to use this feature.");
      }
    }

    function removePeriod(number) {
      const str = number.toString();
      const parts = str.split('.');
      return parseInt(parts.join(''));
    }


    function updateDonationStatus(donation_id, status_indicator) {
      console.log("Checking donation status...");
      $.ajax({
        url: "/check_donation_status/",
        data: {donation_id: donation_id},
        success: function(data) {
          if (data == 'true') {
            console.log("Donation received");
            document.querySelector("#donation-status").textContent = "";
            document.querySelector("#donation-completed").textContent = "Donation received!";
            document.title = "Donation Received, Thank You!";
            blinkTab();
            clearInterval(interval_id); // interval_id is now accessible in this function
          } else {
            console.log(data)
            console.log("Donation not received");
          }
        },
        error: function() {
          console.log("Error checking donation status");
        }
      });
    }


    function blinkTab() {
        var oldTitle = document.title;
        var timeoutId;

        function blink() {
            document.title = (document.title == oldTitle) ? "Donation Received, Thank You!" : oldTitle;
        }

        function clear() {
            clearInterval(timeoutId);
            document.title = oldTitle;
            window.onmousemove = null;
            timeoutId = null;
        }

        if (!timeoutId) {
            timeoutId = setInterval(blink, 1000);
            window.onmousemove = clear;
        }
    }

</script>


</html>
