<!DOCTYPE html>
<html>
<head>
   <title>PayPaul Payment</title>
        {{if eq .Currency "SOL"}}
            <link href=sol.svg rel=icon>
        {{else if eq .Currency "XMR"}}
            <link href=xmr.svg rel=icon>
        {{else if eq .Currency "ETH"}}
            <link href=eth.svg rel=icon>
        {{else if eq .Currency "BUSD"}}
            <link href=busd.svg rel=icon>
        {{else if eq .Currency "HEX"}}
            <link href=hex.svg rel=icon>
        {{else if eq .Currency "MATIC"}}
            <link href=matic.svg rel=icon>
        {{else if eq .Currency "PAINT"}}
            <link href=paint.svg rel=icon>
        {{else if eq .Currency "PNK"}}
            <link href=pnk.svg rel=icon>
        {{else if eq .Currency "SHIB"}}
            <link href=shiba_inu.svg rel=icon>
        {{else if eq .Currency "TUSD"}}
            <link href=tether.svg rel=icon>
        {{else if eq .Currency "USDC"}}
            <link href=usdc.svg rel=icon>
        {{else if eq .Currency "WBTC"}}
            <link href=wbtc.svg rel=icon>
        {{end}}
    <link href=style.css rel=stylesheet>

</head>
<body>
    <h2>Send exactly <b>{{.Amount}}</b> {{.Currency}} to confirm superchat:</h2>

<label>Name:</label><br>
<blockquote>
    {{.Name}}
</blockquote>
<label>Message:</label><br>
<blockquote>
    {{.Message}}
</blockquote>

{{if ne .Media ""}}
    <label>Media:</label><br>
    <blockquote>
        {{.Media}}
    </blockquote>
{{end}}

<label>Payment Address</label><br>
<blockquote style="user-select: all">
    {{.Address}}
</blockquote>
<label>Or scan:</label><br>
<blockquote>
    <img src="data:image/png;base64,{{.QRB64}}"/>
</blockquote>


       
<small>Stay on this screen until transaction is seen.</small><br>
<footer>
    <small><small>
      <p>PayPaul &copy; 2023. Developed by <a href="http://www.paul.town/" target="_blank">Paul Town</a> with <a href="https://github.com/pautown/paulpay" target="_blank">PayPaul GitHub Source Code</a></p>
    </small></small>
  </footer>
</body>
</html>
