<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>User Page</title>
  <link href=style.css rel=stylesheet>
  <script>
    var MediaEnabled = {{ if .User.MediaEnabled }} true {{ else }} false {{ end }};

function toggleDonos() { 
  MediaEnabled = !MediaEnabled
  var button = document.getElementById("toggle-media-donos");
  var elements = document.querySelectorAll('p, textarea')

  if (MediaEnabled) {
    button.innerHTML = "Turn Media Donations OFF";
    document.getElementById("media-status").innerHTML = "Media donations are currently enabled";
  } else {
    button.innerHTML = "Turn Media Donations ON";
    document.getElementById("media-status").innerHTML = "Media donations are currently <b>disabled</b>";
  }
}

var links = JSON.parse('{{.Links}}')
window.onload = function() {
  const form = document.querySelector('form');
  const newPasswordInput = document.getElementById('new-password');
  const newPasswordConfirmInput = document.getElementById('new-password-confirm');
  const submitButton = document.getElementById('change-password');

  document.getElementById('update-links-form').addEventListener('submit', updateLinks);


   // Get a reference to the container where the links will be inserted.
  var container = document.getElementById('user-links-container');

  // Iterate over the links and generate HTML for each one.
  links.forEach(function(link) {
      // Create the HTML for this link.
      var html = `
          <div style="display: flex; align-items: center; justify-content: center; margin-right: 10px;">
              <button onclick="toggleTextField('${link.description}')" style="cursor: pointer; width: 80%;">
                  ${link.description}
              </button>
              <button onclick="deleteLink('${link.url}')" style="cursor: pointer; width: 20%;">Delete</button>
          </div>
          <div id="text-field-${link.description}" style="display: none; align-items: center; justify-content: center; margin-right: 10px;">
              <input type="text" id="url-field-${link.description}" value="${link.url}" style="width: 80%;">
              <button onclick="applyLink('${link.description}')" style="cursor: pointer; width: 20%;">Apply</button>
          </div>
      `;

      // Append the HTML to the container.
      container.innerHTML += html;
  });
  

  let amountThisMonth = {{.User.BillingData.AmountThisMonth}};
let threePercent = amountThisMonth * 0.03;
document.getElementById('threePercent').textContent = `$${threePercent.toFixed(2)}`;


  function validatePassword() {
    if (newPasswordInput.value !== newPasswordConfirmInput.value) {
      newPasswordConfirmInput.setCustomValidity("Passwords don't match");
      submitButton.disabled = true;
      submitButton.textContent = "Passwords Don't Match";
    } else if (newPasswordInput.value === '' || newPasswordConfirmInput.value === '') {
      submitButton.disabled = true;
      submitButton.textContent = "Change Password";
    } else {
      newPasswordConfirmInput.setCustomValidity('');
      submitButton.disabled = false;
      submitButton.textContent = "Change Password";
    }
  }

  newPasswordInput.addEventListener('input', validatePassword);
  newPasswordConfirmInput.addEventListener('input', validatePassword);

  form.addEventListener('submit', function(event) {
    if (newPasswordInput.value !== newPasswordConfirmInput.value) {
      event.preventDefault();
      alert('Passwords do not match');
    }
  });

   // Get the creation date string from the server-side template
  const creationDateStr = "{{.User.CreationDatetime}}";

  // Parse the string into a Date object
  const creationDate = new Date(creationDateStr);

  // Format the date into a human-readable string
  const formattedDate = creationDate.toLocaleString();

  // Set the formatted date as the text content of the <span> element
  document.getElementById("creation-date").textContent = formattedDate;

 // Get the current date as a Date object
  const currentDate = new Date();

  // Add one month to the current date
  const nextMonthDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1);

  // Set the target date to the first day of the next month
  const targetDate = new Date(nextMonthDate.getFullYear(), nextMonthDate.getMonth(), 1);

  // Calculate the difference between the current date and the target date
  const timeDiff = targetDate.getTime() - currentDate.getTime();
  const daysLeft = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

  // Update the text content of the <span> element with the number of days left
  document.getElementById("days-left").textContent = daysLeft.toString();


};

function updateLinks() {
    // Convert the links array to a JSON string
    const linksJson = JSON.stringify(links);

    // Set the value of the hidden input field to the JSON string
    document.getElementById('links-input').value = linksJson;
}




function addLink() {
  var description = document.getElementById('new-description').value;
  var url = document.getElementById('new-url').value;

  // Create a new link object
  var newLink = {
    description: description,
    url: url
  };
  
  links.push(newLink);
  
  // Generate the updated HTML code for user links
  var updatedLinksHTML = "";
  for (var i = 0; i < links.length; i++) {
    updatedLinksHTML += `
      <div style="display: flex; align-items: center; justify-content: center; margin-right: 10px;">
        <button onclick="toggleTextField('${links[i].description}')" style="cursor: pointer; width: 80%;">
          ${links[i].description}
        </button>
        <button onclick="deleteLink('${links[i].url}')" style="cursor: pointer; width: 20%;">Delete</button>
      </div>
      <div id="text-field-${links[i].description}" style="display: none; align-items: center; justify-content: center; margin-right: 10px;">
        <input type="text" id="url-field-${links[i].url}" value="${links[i].url}" style="width: 80%;">
        <button onclick="applyLink('${links[i].description}')" style="cursor: pointer; width: 20%;">Apply</button>
      </div>`;
  }
  
  // Update the HTML content of the user links container
  document.getElementById('user-links-container').innerHTML = updatedLinksHTML;
}

function toggleTextField(description) {
  const textField = document.getElementById(`text-field-${description}`);
  if (textField) {
    textField.style.display = textField.style.display === 'none' ? 'flex' : 'none';
  }
}


function applyLink(description) {
  const urlField = document.getElementById(`url-field-${description}`);
  if (urlField) {
    const newURL = urlField.value;

    // Perform the necessary logic to update the link in the Links variable
    // After updating the link, you can perform additional actions if needed
    toggleTextField(description);
  }
}


  function deleteLink(url) {
    // Find the index of the link with the given URL
    var index = links.findIndex(function(link) {
      return link.url === url;
    });

    // If the link is found in the array, remove it
    if (index !== -1) {
      links.splice(index, 1);
    }

    // Update the displayed links
    var updatedLinksHTML = "";
    for (var i = 0; i < links.length; i++) {
      updatedLinksHTML += `
        <div style="display: flex; align-items: center; justify-content: center; margin-right: 10px;">
          <button onclick="toggleTextField('${links[i].description}')" style="cursor: pointer; width: 80%;">
            ${links[i].description}
          </button>
          <button onclick="deleteLink('${links[i].url}')" style="cursor: pointer; width: 20%;">Delete</button>
        </div>
        <div id="text-field-${links[i].description}" style="display: none; align-items: center; justify-content: center; margin-right: 10px;">
          <input type="text" id="url-field-${links[i].url}" value="${links[i].url}" style="width: 80%;">
          <button onclick="applyLink('${links[i].description}')" style="cursor: pointer; width: 20%;">Apply</button>
        </div>`;
    }

    // Update the HTML content of the user links container
    document.getElementById('user-links-container').innerHTML = updatedLinksHTML;
      updateLinks();
  }


  </script>
</head>
<body>
  <br>
  <h1>User Settings Panel</h1>
  <hr>

<div style="display: flex; align-items: center; margin-right: 10px;">
      <form method="GET" action="/user">
        <button style="padding: 0 10px 0;">User Settings</button>
      </form>
      <form method="GET" action="/userobs">
        <button style="padding: 0 10px; margin-right: 10px; display: inline-block;">OBS Settings</button>
      </form>
      <form method="GET" action="/viewdonos">
        <button style="padding: 0 10px 0;">View Donations</button>
      </form>
      {{ if eq .User.Username "admin" }}
      <form method="GET" action="/usermanager">
        <button style="padding: 0 10px 0;">Admin Dash</button>
      </form>
      {{ end }}
  </div>



  <br><br>
<small><p> <b style="color: lightsteelblue;">Account {{.User.Username}} created on:</b> <span id="creation-date"></span></p></small>
  <p> <b style="color: lightsteelblue;"> Total Earnings: </b> ${{.User.BillingData.AmountTotal}}</p>
  <p>
  <b style="color: lightsteelblue;"> Monthly Earnings: </b> ${{.User.BillingData.AmountThisMonth}} <b style="color: lightsteelblue;">  <small>(3% Fee: </b> <span id="threePercent"></span>) </small></p>
  <button type="button">
      <b style="color: lightsteelblue;"> Days until next payment: </b> 
      <span id="days-left"></span>
  </button>
    


  
  
  <p id="media-status"> <b style="color: lightsteelblue;">Monero Wallet: </b> {{ if .User.WalletUploaded }}<b style="color: lightseagreen;">uploaded</b>{{ else }}<b>not yet uploaded.</b>{{ end }}</p>
  <form method="GET" action="/cryptosettings">
    <button style="padding: 0 10px; margin-right: 10px; display: inline-block;">View/Change Crypto Settings</button>
  </form>


  <hr>
  <br>


</form>

  <h2>User Links</h2>
  <div id="user-links-container">
  </div>

  <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
    <input type="text" id="new-description" placeholder="New Description" style="width: 40%;">
    <input type="text" id="new-url" placeholder="New URL" style="width: 40%;">
    <button onclick="addLink()" style="cursor: pointer; width: 20%;">Add</button>
  </div>

  <form id="update-links-form" method="POST" action="/update-links">
    <input type="hidden" id="links-input" name="links">
    <input type="hidden" id="username-input" name="username" value="{{.User.Username}}">
    <button type="submit">Update Links</button>
  </form>

 <br>
 <br>


  
  <hr>
    <br>
    <h2>Change Password</h2>
  <form method="POST" action="/changepassword">
    <label for="current-password">Current Password:</label>
    <input type="password" id="current-password" name="current_password" required><br><br>
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="new_password" required><br><br>
    <label for="new-password-confirm">Confirm New Password:</label>
<input type="password" id="new-password-confirm" name="new_password_confirm" required><br><br>
    <button type="submit" id="change-password">Change Password</button>
</form>

  <hr><br><br><br>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
</body>
</html>